In [1]:
import pandas as pd
import numpy as np
import random

### Đặt lại danh mục sản phẩm

#### Điện thoại

In [2]:
dienthoai = pd.read_csv('./rawData/dienthoai.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [3]:
# Check for duplicate values in the DataFrame
print(dienthoai.duplicated().sum())

# Remove duplicate rows from the DataFrame
dienthoai = dienthoai.drop_duplicates()

24

Kiểm tra giá trị thiếu

In [4]:
# Check for missing values in the DataFrame
print(dienthoai.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

In [5]:
dienthoai['Danh mục'].value_counts()

Danh mục
Điện thoại Smartphone         187
Điện Thoại - Máy Tính Bảng     11
Phụ kiện                        6
Root                            2
Name: count, dtype: int64

Chuyển hết sản phẩm thuộc danh mục Điện Thoại - Máy Tính Bản, Root vào Điện thoại Smartphone

In [6]:
df1 = dienthoai

df1['Danh mục'] = df1['Danh mục'].replace(
    {
        'Điện Thoại - Máy Tính Bảng': 'Điện thoại Smartphone',
        'Root': 'Điện thoại Smartphone',
        'Phụ kiện': 'Phụ kiện điện thoại',
    }
)

In [7]:
df1['Danh mục'].value_counts()

Danh mục
Điện thoại Smartphone    200
Phụ kiện điện thoại        6
Name: count, dtype: int64

In [8]:
dienthoai = df1

#### Điện thoại bàn

In [9]:
mayban = pd.read_csv('./rawData/dienthoaiban.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [10]:
# Check for duplicate values in the DataFrame
print(mayban.duplicated().sum())

0

Kiểm tra giá trị thiếu

In [11]:
# Check for missing values in the DataFrame
print(mayban.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Đặt danh mục của tất cả sản phẩm là ``Điện thoại bàn``

In [12]:
mayban['Danh mục'] = 'Điện thoại bàn'

In [13]:
mayban['Danh mục'].value_counts()

Danh mục
Điện thoại bàn    50
Name: count, dtype: int64

#### Điện thoại phổ thông

In [14]:
cucgach = pd.read_csv('./rawData/dienthoaiphothong.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [15]:
# Check for duplicate values in the DataFrame
print(cucgach.duplicated().sum())

0

Kiểm tra giá trị thiếu

In [16]:
# Check for missing values in the DataFrame
print(cucgach.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Đặt danh mục của tất cả sản phẩm là `Điện thoại phổ thông`

In [17]:
cucgach['Danh mục'] = 'Điện thoại phổ thông'

In [18]:
cucgach['Danh mục'].value_counts()

Danh mục
Điện thoại phổ thông    18
Name: count, dtype: int64

#### dieuhoa.csv

In [19]:
dieuhoa = pd.read_csv('./rawData/dieuhoa.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [20]:
# Check for duplicate values in the DataFrame
print(dieuhoa.duplicated().sum())

0

Kiểm tra giá trị thiếu

In [21]:
# Check for missing values in the DataFrame
print(dieuhoa.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Giữ nguyên tên các danh mục

In [22]:
dieuhoa['Danh mục'].value_counts()

Danh mục
Máy lạnh treo tường        231
Máy lạnh - Máy điều hòa     95
Máy lạnh tủ đứng             9
Máy lạnh âm trần             2
Name: count, dtype: int64

#### laptop.csv

In [23]:
laptop = pd.read_csv('./rawData/laptop.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [24]:
# Check for duplicate values in the DataFrame
print(laptop.duplicated().sum())

0

Kiểm tra giá trị thiếu

In [25]:
# Check for missing values in the DataFrame
print(laptop.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Chuyển đổi các danh mục như sau:

**Danh mục mới gồm:** <br/>

**Laptop truyền thống** (Laptop truyền thống + Laptop - Máy Vi Tính - Linh Kiện + Laptop + Root) <br />
**Laptop Gaming** (Laptop Gaming)<br />
**Laptop 2 trong 1** (Laptop 2 trong 1)<br />
**Macbook** (Macbook)<br />

In [26]:
laptop['Danh mục'].value_counts()

Danh mục
Laptop Truyền Thống                 262
Laptop Gaming                        41
Laptop - Máy Vi Tính - Linh kiện     16
Laptop 2 trong 1                     13
Macbook                               4
Laptop                                1
Root                                  1
Name: count, dtype: int64

In [27]:
laptop1 = laptop

laptop1['Danh mục'] = laptop1['Danh mục'].replace(
    {
        'Laptop - Máy Vi Tính - Linh kiện': 'Laptop Truyền Thống',
        'Laptop': 'Laptop Truyền Thống',
        'Root': 'Laptop Truyền Thống',
    }
)

Kiểm tra lại danh mục

In [28]:
laptop1['Danh mục'].value_counts()

Danh mục
Laptop Truyền Thống    280
Laptop Gaming           41
Laptop 2 trong 1        13
Macbook                  4
Name: count, dtype: int64

In [29]:
laptop = laptop1

#### maydocsach.csv

In [30]:
maydocsach = pd.read_csv('./rawData/maydocsach.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [31]:
# Check for duplicate values in the DataFrame
print(maydocsach.duplicated().sum())

maydocsach.drop_duplicates(inplace=True)

7

Kiểm tra giá trị thiếu

In [32]:
# Check for missing values in the DataFrame
print(maydocsach.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

In [33]:
maydocsach['Danh mục'].value_counts()

Danh mục
Máy đọc sách                  33
Điện Thoại - Máy Tính Bảng     9
Name: count, dtype: int64

Gộp danh mục Điện Thoại - Máy Tính Bảng vào danh mục máy đọc sách, sau đó lọc máy tính bảng trong danh mục máy đọc sách.

In [34]:
maydocsach['Danh mục'] = 'Máy đọc sách'

maydocsach.loc[maydocsach['Tên sản phẩm'].str.contains('máy tính bảng', case=False), 'Danh mục'] = 'Máy tính bảng'

In [35]:
maydocsach['Danh mục'].value_counts()

Danh mục
Máy đọc sách     39
Máy tính bảng     3
Name: count, dtype: int64

#### maygiat.csv

In [36]:
maygiat = pd.read_csv('./rawData/maygiat.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [37]:
# Check for duplicate values in the DataFrame
print(maygiat.duplicated().sum())

# Remove duplicate rows from the DataFrame
maygiat.drop_duplicates(inplace=True)

0

Kiểm tra giá trị thiếu

In [38]:
# Check for missing values in the DataFrame
print(maygiat.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Giữ nguyên tên của các danh mục

In [39]:
maygiat['Danh mục'].value_counts()

Danh mục
Máy giặt cửa ngang    160
Máy giặt cửa trên     118
Máy giặt               90
Tháp giặt sấy          12
Máy giặt mini           2
Name: count, dtype: int64

#### maytinhbang.csv

In [40]:
maytinhbang = pd.read_csv('./rawData/maytinhbang.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [41]:
# Check for duplicate values in the DataFrame
print(maytinhbang.duplicated().sum())

maytinhbang.drop_duplicates(inplace=True)

2

Kiểm tra giá trị thiếu

In [42]:
# Check for missing values in the DataFrame
print(maytinhbang.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Gộp chung sản phẩm cùng danh mục Máy tính bảng

In [43]:
maytinhbang['Danh mục'] = 'Máy tính bảng'

In [44]:
maytinhbang['Danh mục'].value_counts()

Danh mục
Máy tính bảng    33
Name: count, dtype: int64

#### tivi.csv

In [45]:
tivi = pd.read_csv('./rawData/tivi.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [46]:
# Check for duplicate values in the DataFrame
print(tivi.duplicated().sum())

0

Kiểm tra giá trị thiếu

In [47]:
# Check for missing values in the DataFrame
print(tivi.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Tiến hành chia danh muc:

Từ danh mục ĐT-ĐL và Root, ta có thể phân phối chúng vào 2 danh mục: Tivi thường (LED) và Smart Tivi - Android Tivi

Nếu tên sản phẩm chứa OLED -> Tivi OLED<br/>
Nếu tên sản phẩm chứa Smart hoặc Android -> Smart Tivi - Android Tivi<br/>
Nếu tên sản phẩm chứa LED -> Tivi thường (LED)<br/>
Nếu tên sản phẩm chứa QLED -> Tivi QLED<br/>

In [48]:
df4 = tivi.loc[tivi['Danh mục'].isin(['Điện Tử - Điện Lạnh', 'Root'])]

df4.loc[
    df4['Tên sản phẩm'].str.contains('oled', case=False),
    'Danh mục'
] = 'Tivi OLED'

df4.loc[
    df4['Tên sản phẩm'].str.contains('qled', case=False),
    'Danh mục'
] = 'Tivi QLED'

df4.loc[
    df4['Tên sản phẩm'].str.contains('smart|android', case=False),
    'Danh mục'
] = 'Smart Tivi - Android Tivi'

df4.loc[
    df4['Tên sản phẩm'].str.contains('led', case=False),
    'Danh mục'
] = 'Tivi thường (LED)'

df4.loc[
    df4['Tên sản phẩm'].str.contains('4k', case=False),
    'Danh mục'
] = 'Tivi 4K'

Xóa bỏ danh mục ĐT-ĐL và Root. Nối df4 với tivi

In [49]:
tivi.drop(
    tivi[tivi['Danh mục'].isin(['Điện Tử - Điện Lạnh', 'Root'])].index,
    inplace=True

)

df4.drop(
    df4[df4['Danh mục'].isin(['Điện Tử - Điện Lạnh', 'Root'])].index,
    inplace=True

)

tivi = pd.concat([tivi, df4], ignore_index=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12100\372448485.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop(

In [50]:
tivi['Danh mục'].value_counts()

Danh mục
Smart Tivi - Android Tivi    124
Tivi 4K                      104
Tivi thường (LED)             18
Tivi OLED                     11
Tivi QLED                      5
Tivi cao cấp                   5
Internet Tivi                  4
Name: count, dtype: int64

#### tulanh.csv

In [51]:
tulanh = pd.read_csv('./rawData/tulanh.csv', encoding='utf-8')

Kiểm tra các giá trị trùng lặp

In [52]:
# Check for duplicate values in the DataFrame
print(tulanh.duplicated().sum())

0

Kiểm tra các giá trị thiếu

In [53]:
# Check for missing values in the DataFrame
print(tulanh.isnull().sum())

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

In [54]:
tulanh['Danh mục'].value_counts()

Danh mục
Tủ lạnh nhiều cửa       164
Tủ lạnh                  78
Điện Tử - Điện Lạnh      68
Tủ lạnh side by side     53
Tủ lạnh mini             37
Name: count, dtype: int64

Chuyển sản phẩm thuộc danh mục Điện Tử - Điện Lạnh vào danh mục Tủ lạnh

In [55]:
tulanh['Danh mục'] = tulanh['Danh mục'].replace(
    {
        'Điện Tử - Điện Lạnh': 'Tủ lạnh',
    }
)

In [56]:
tulanh['Danh mục'].value_counts()

Danh mục
Tủ lạnh nhiều cửa       164
Tủ lạnh                 146
Tủ lạnh side by side     53
Tủ lạnh mini             37
Name: count, dtype: int64

#### cameragiamsat.csv

In [59]:
camgiamsat = pd.read_csv('./rawData/cameragiamsat.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [60]:
print(camgiamsat.duplicated().sum())

camgiamsat.drop_duplicates(inplace=True)

24

Kiểm tra giá trị thiếu

In [61]:
camgiamsat.isnull().sum()

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

In [62]:
camgiamsat['Danh mục'].value_counts()

Danh mục
Camera IP                   283
Máy Ảnh - Máy Quay Phim      78
Phụ Kiện Camera Giám Sát     17
Đầu Ghi Hình Camera          11
Root                          8
Hệ Thống Camera Giám Sát      7
Camera Quan Sát Analog        2
Name: count, dtype: int64

Cần phân bổ thành các danh mục

**Camera IP - Camera Wifi** (Camera IP + Máy Ảnh - Máy Quay Phim + Root)<br />
**Phụ Kiện Camera Giám Sát** (Phụ Kiện + Root)<br />
**Đầu Ghi Hình Camera**<br />
**Camera Quan Sát Analog**
**Hệ Thống Camera Giám Sát**

In [63]:
df5 = camgiamsat

df5['Danh mục'] = df5['Danh mục'].replace(
    {
        'Máy Ảnh - Máy Quay Phim': 'Camera IP - Camera Wifi',
        'Camera IP': 'Camera IP - Camera Wifi',
    }
)

df6 = df5.loc[df5['Danh mục'] == 'Root']

df6.loc[
    df6['Tên sản phẩm'].str.contains('ip|wifi', case=False),
    'Danh mục'
] = 'Camera IP - Camera Wifi'

df6['Danh mục'] = df5['Danh mục'].replace(
    {
        'Root': 'Phụ Kiện Camera Giám Sát',
        
    }
)

df5.drop(
    df5[df5['Danh mục'] == 'Root'].index,
    inplace=True
)

df5 = pd.concat([df5, df6], ignore_index=True)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12100\489877380.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Danh mục'] = df5['Danh mục'].replace(

In [64]:
df5['Danh mục'].value_counts()

Danh mục
Camera IP - Camera Wifi     361
Phụ Kiện Camera Giám Sát     25
Đầu Ghi Hình Camera          11
Hệ Thống Camera Giám Sát      7
Camera Quan Sát Analog        2
Name: count, dtype: int64

In [65]:
camgiamsat = df5

#### maytinhdeban.csv

In [66]:
pc = pd.read_csv('./rawData/maytinhdeban.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [67]:
print(pc.duplicated().sum())

pc.drop_duplicates(inplace=True)

2

Kiểm tra giá trị thiếu

In [68]:
pc.isnull().sum()

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

In [69]:
pc['Danh mục'].value_counts()

Danh mục
Máy Tính Bộ Thương Hiệu             89
Mini PC                             22
Laptop - Máy Vi Tính - Linh kiện    10
Máy Tính All in one                 10
Towers - Máy Chủ - Server           10
Máy Tính Để Bàn Lắp Ráp              6
PC Gaming                            3
Root                                 2
PC - Máy Tính Bộ                     1
Name: count, dtype: int64

Chuyển đổi thành các danh mục:

**Máy tính đồng bộ** (Bổ sung Laptop - Máy Vi Tính - Linh kiện + Root + PC - Máy Tính Bộ)<br />
**Mini PC** (Bổ sung Laptop - Máy Vi Tính - Linh kiện)<br />
**Towers - Máy Chủ - Server**<br />
**Máy Tính All in one**<br />
**Máy Tính Để Bàn Lắp Ráp**<br />
**PC Gaming**<br />

In [70]:
df6 = pc

df6['Danh mục'] = df6['Danh mục'].replace(
    {
        'Máy Tính Bộ Thương Hiệu': 'Máy tính đồng bộ',
        'Root': 'Máy tính đồng bộ',
        'PC - Máy Tính Bộ': 'Máy tính đồng bộ',
    }
)

df7 = df6.loc[df6['Danh mục'] == 'Laptop - Máy Vi Tính - Linh kiện']

df7.loc[
    df7['Tên sản phẩm'].str.contains('mini|siêu nhỏ'),
    'Danh mục'
] = 'Mini PC'

df7['Danh mục'] = df7['Danh mục'].replace(
    {
        'Laptop - Máy Vi Tính - Linh kiện': 'Máy tính đồng bộ',
    }
)

df6.drop(
    df6[df6['Danh mục'] == 'Laptop - Máy Vi Tính - Linh kiện'].index,
    inplace=True
)

df6 = pd.concat([df6, df7], ignore_index=True)
df6['Danh mục'].value_counts()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_12100\203120257.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7['Danh mục'] = df7['Danh mục'].replace(

Danh mục
Máy tính đồng bộ             100
Mini PC                       24
Máy Tính All in one           10
Towers - Máy Chủ - Server     10
Máy Tính Để Bàn Lắp Ráp        6
PC Gaming                      3
Name: count, dtype: int64

In [71]:
pc = df6

#### mayanh.csv

In [72]:
mayanh = pd.read_csv('./rawData/mayanh.csv', encoding='utf-8')

Kiểm tra giá trị trùng lặp

In [73]:
mayanh.duplicated().sum()

np.int64(0)

Kiểm tra giá trị thiếu

In [74]:
mayanh.isnull().sum()

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Giữ nguyên danh mục như cũ.

### Gộp thành 1 file products duy nhất

In [75]:
products = pd.concat(
    [dienthoai, mayban, cucgach, dieuhoa, laptop, maydocsach, maygiat, maytinhbang, tivi, tulanh, camgiamsat, pc, mayanh],
    ignore_index=True
)

In [76]:
category_rows = []

for i, row in enumerate(products['Danh mục'].unique()):
    category_rows.append({
        'id': str(i).zfill(2),
        'name': row,
    })

category_rows = pd.DataFrame(category_rows)

category_rows.to_csv('./transformedData/category.csv', index=False, encoding='utf-8-sig')

In [77]:
print(products.duplicated().sum())
len(products)

0

2651

In [78]:
print(products['Id'].duplicated().sum())
products.drop_duplicates(subset=['Id'], inplace=True)
print(len(products))

17
2634

In [79]:
products.isnull().sum()

Id                   0
Tên sản phẩm         0
Thương hiệu          0
Danh mục             0
Thông số kỹ thuật    0
Phiên bản            0
Mô tả                0
Hình ảnh             0
dtype: int64

Các cột hiện tại

In [80]:
products.columns

Index(['Id', 'Tên sản phẩm', 'Thương hiệu', 'Danh mục', 'Thông số kỹ thuật',
       'Phiên bản', 'Mô tả', 'Hình ảnh'],
      dtype='object')

In [81]:
# # create unique id for each product

# products['ID'] = np.arange(1, len(products) + 1)
# products['ID'] = products['ID'].astype(str).str.zfill(6)

Thực hiện:

Xây dựng:

• DF Product(id, categoryId, name, description, specification, imageURL, brand)

• DF Attribute (id, name) (Với attribute là các thuộc tính phân biệt các biến thể)

• DF Value_Attribute(id, attributeId, value) (Bảng chứa giá trị biến thể)

• DF Product_Variant(id, productId, price, quantity, SKU)

In [82]:
categories = pd.read_csv('./transformedData/category.csv', encoding='utf-8')
categories

    id                               name
0    0              Điện thoại Smartphone
1    1                Phụ kiện điện thoại
2    2                     Điện thoại bàn
3    3               Điện thoại phổ thông
4    4                Máy lạnh treo tường
5    5                   Máy lạnh tủ đứng
6    6            Máy lạnh - Máy điều hòa
7    7                   Máy lạnh âm trần
8    8                Laptop Truyền Thống
9    9                            Macbook
10  10                      Laptop Gaming
11  11                   Laptop 2 trong 1
12  12                       Máy đọc sách
13  13                      Máy tính bảng
14  14                 Máy giặt cửa ngang
15  15                  Máy giặt cửa trên
16  16                           Máy giặt
17  17                      Máy giặt mini
18  18                      Tháp giặt sấy
19  19                            Tivi 4K
20  20                  Tivi thường (LED)
21  21                          Tivi QLED
22  22          Smart Tivi - Android Tivi
23  23                          Tivi OLED
24  24                       Tivi cao cấp
25  25                      Internet Tivi
26  26                  Tủ lạnh nhiều cửa
27  27                       Tủ lạnh mini
28  28               Tủ lạnh side by side
29  29                            Tủ lạnh
30  30            Camera IP - Camera Wifi
31  31           Phụ Kiện Camera Giám Sát
32  32                Đầu Ghi Hình Camera
33  33           Hệ Thống Camera Giám Sát
34  34             Camera Quan Sát Analog
35  35                            Mini PC
36  36                   Máy tính đồng bộ
37  37                Máy Tính All in one
38  38            Máy Tính Để Bàn Lắp Ráp
39  39                          PC Gaming
40  40          Towers - Máy Chủ - Server
41  41                  Máy Chụp Ảnh Phim
42  42                   Máy Ảnh Lấy Liền
43  43            Máy Ảnh - Máy Quay Phim
44  44  Máy Ảnh Compact - Máy Ảnh Du Lịch
45  45                 Máy Ảnh Mirrorless

In [83]:
categories.columns

Index(['id', 'name'], dtype='object')

In [84]:
cat_dict = {}
print(categories.columns)  # Check the column names in the DataFrame
for index, row in categories.iterrows():
        cat_dict[row['name']] = row['id']

cat_dict

Index(['id', 'name'], dtype='object')

{'Điện thoại Smartphone': 0,
 'Phụ kiện điện thoại': 1,
 'Điện thoại bàn': 2,
 'Điện thoại phổ thông': 3,
 'Máy lạnh treo tường': 4,
 'Máy lạnh tủ đứng': 5,
 'Máy lạnh - Máy điều hòa': 6,
 'Máy lạnh âm trần': 7,
 'Laptop Truyền Thống': 8,
 'Macbook': 9,
 'Laptop Gaming': 10,
 'Laptop 2 trong 1': 11,
 'Máy đọc sách': 12,
 'Máy tính bảng': 13,
 'Máy giặt cửa ngang': 14,
 'Máy giặt cửa trên': 15,
 'Máy giặt': 16,
 'Máy giặt mini': 17,
 'Tháp giặt sấy': 18,
 'Tivi 4K': 19,
 'Tivi thường (LED)': 20,
 'Tivi QLED': 21,
 'Smart Tivi - Android Tivi': 22,
 'Tivi OLED': 23,
 'Tivi cao cấp': 24,
 'Internet Tivi': 25,
 'Tủ lạnh nhiều cửa': 26,
 'Tủ lạnh mini': 27,
 'Tủ lạnh side by side': 28,
 'Tủ lạnh': 29,
 'Camera IP - Camera Wifi': 30,
 'Phụ Kiện Camera Giám Sát': 31,
 'Đầu Ghi Hình Camera': 32,
 'Hệ Thống Camera Giám Sát': 33,
 'Camera Quan Sát Analog': 34,
 'Mini PC': 35,
 'Máy tính đồng bộ': 36,
 'Máy Tính All in one': 37,
 'Máy Tính Để Bàn Lắp Ráp': 38,
 'PC Gaming': 39,
 'Towers - Máy Chủ - Server': 40,
 'Máy Chụp Ảnh Phim': 41,
 'Máy Ảnh Lấy Liền': 42,
 'Máy Ảnh - Máy Quay Phim': 43,
 'Máy Ảnh Compact - Máy Ảnh Du Lịch': 44,
 'Máy Ảnh Mirrorless': 45}

• DF Product(id, categoryId, name, description, specification, imageURL, brand)

In [85]:
Product = products.rename(columns={
    'Id': 'id',
    'Tên sản phẩm': 'name',
    'Thương hiệu': 'brand',
    'Mô tả': 'description',
    'Thông số kỹ thuật': 'specification',
    'Hình ảnh': 'imageURL',
})

Product['categoryId'] = Product['Danh mục'].map(cat_dict)

Product = Product[['id', 'categoryId', 'name', 'brand', 'description', 'specification', 'imageURL']]


Product.head()

,id,categoryId,name,brand,description,specification,imageURL
0,275618846,0,Điện thoại Samsung Galaxy A34 5G (8GB/256GB) -...,Samsung,Sở hữu những tính năng hàng đầu trong phân khú...,Dung lượng pin: 5000 mAh\nBluetooth: v5.3\nThư...,https://salt.tikicdn.com/ts/product/90/23/03/2...
1,273947792,0,"Điện thoại AI Samsung Galaxy S24 Ultra, Camera...",Samsung,Điện thoại Samsung Galaxy S24 Ultra 5G- Hàng c...,Dung lượng pin: 5000 mAh\nBluetooth: v5.3\nThư...,https://salt.tikicdn.com/ts/product/c1/77/a8/e...
2,276250848,0,Điện Thoại Samsung Galaxy A06 (4GB/128GB) - Hà...,Samsung,"Với thiết kế thanh lịch, công nghệ mạnh mẽ và ...",Dung lượng pin: 5000 mAh\nBluetooth: v5.3\nThư...,https://salt.tikicdn.com/ts/product/1d/fd/79/2...
3,275307093,0,Điện Thoại Samsung Galaxy A25 5G (6GB/128GB) -...,Samsung,Rực rỡ đáng kinh ngạc\nRạng rỡ mọi sắc màu. Mà...,Thương hiệu: Samsung\nXuất xứ thương hiệu: Hàn...,https://salt.tikicdn.com/ts/product/63/93/e5/6...
4,276614493,0,Điện Thoại Samsung Galaxy A16 LTE (4GB/128GB) ...,Samsung,Samsung Galaxy A16 4GB/128GB là chiếc smartpho...,Dung lượng pin: 5000 mAh\nBluetooth: v5.3\nThư...,https://salt.tikicdn.com/ts/product/02/59/95/3...

• DF Attribute (id, name) (Với attribute là các thuộc tính phân biệt các biến thể)

Điện thoại: Màu, Dung lượng

Camera giám sát: 
- Model (model, model camera, lựa chọn mẫu),
- Độ phân giải (độ phân giải)
- Màu (Color)
- Lựa chọn (Loại, lựa chọn, camera, loại camera, memory, tùy chọn, mẫu)

Điện thoại bàn: Màu

Điện thoại phổ thông: Màu

Điều hòa: Công suất (Phân loại công suất, công suất làm lạnh, công suất lạnh), Bảo hành (Bảo hành 2 năm, bảo hành toàn quốc)

Laptop: Dung lượng, Màu, Chip, Hệ điều hành, Màn (Loại màn)

Máy ảnh: Màu, Lựa chọn

Máy đọc sách: Màu (+ Màu bao da), Dung lượng, Bút đi kèm (loại bút đi kèm), Lựa chọn

Máy giặt: Màu

Máy tính bảng: Màu, Dung lượng, Lựa chọn

Máy tính để bàn: Dung lượng, Cấu hình, Lựa chọn

Tivi: Kích cỡ (Kích cỡ màn hình), Lựa chọn

Tủ lạnh: Màu, Lựa chọn

In [86]:
def toPascalCase(x: str):
    return ' '.join(word.capitalize() for word in x.lower().split())

def rename_attribute(pre_attribute: str, value: str):
    
    attribute = pre_attribute.lower()
    value = value.lower()

    if any(attr in attribute for attr in ['màu', 'colour', 'color']) and all(not char.isdigit() for char in value):
        attribute = 'Màu'
    elif any(attr in attribute for attr in ['dung lượng', 'ram', 'memory', 'storage']):
        attribute = 'Dung lượng'
    elif any(attr in attribute for attr in ['model', 'model camera', 'lựa chọn mẫu', 'mẫu']):
        attribute = 'Model'
    elif any(attr in attribute for attr in ['độ phân giải', 'phân giải', 'resolution']):
        attribute = 'Độ phân giải'
    elif any(attr in attribute for attr in ['công suất', 'power']):
        attribute = 'Công suất'
    elif any(attr in attribute for attr in ['bảo hành', 'warranty']):
        attribute = 'Bảo hành'
    elif any(attr in attribute for attr in ['chip', 'cpu', 'vi xử lý', 'processor']):
        attribute = 'Chip'
    elif any(attr in attribute for attr in ['hệ điều hành', 'os', 'operating system', 'win']):
        attribute = 'Hệ điều hành'
    elif any(attr in attribute for attr in ['màn', 'display', 'screen']):
        attribute = 'Màn hình'
    elif any(attr in attribute for attr in ['bút', 'pen']):
        attribute = 'Bút đi kèm'

    else:
        attribute = 'Lựa chọn'

    return attribute

In [87]:
def extract_options(versions: str):
    if '=' not in versions:
        return [{
            'attrs': ['Other'],
            'values': ['1 giá'],
            'price': int(versions.split()[0].strip())
        }]
    
    options = []

    lines = versions.split('\n')
    for line in lines:
        current = line.split('=')
        price = int(current[-1].strip().split()[0].strip())
        
        option = {
            'attrs': [],
            'values': [],
            'price': price
        }
        
        current_attributes = current[0].strip()
        split_current_attribute = current_attributes.split('$$')
        for attribute_value in split_current_attribute:
            attribute = attribute_value.split(':')[0].strip().lower()
            value = attribute_value.split(':')[1].strip()

            value = toPascalCase(value)

            attribute = rename_attribute(attribute, value)

            option['attrs'].append(attribute)
            option['values'].append(value)
        
        options.append(option)

    return options

In [88]:
def extract_attributes(dataframe: pd.DataFrame):
    res = {}

    for _, row in dataframe[['Id', 'Phiên bản']].iterrows():
        versions = str(row['Phiên bản'])

        options = extract_options(versions)

        for option in options:
            for (attr, value) in zip(option['attrs'], option['values']):
                if attr not in res:
                    res[attr] = set()
                res[attr].add(value)

    return res

In [89]:
attributes = extract_attributes(products)

sorted_attributes = sorted(attributes.items(), key=lambda kv: (kv[0], kv[1]))
sorted_attributes = {k: v for k, v in sorted_attributes}  

att_dict = {}

attribute_df = pd.DataFrame(columns=['id', 'name'])

for i, key in enumerate(sorted_attributes.keys()):
    row = {'id': str(i).zfill(6), 'name': key}
    att_dict[key] = str(i).zfill(6)
    attribute_df = pd.concat([attribute_df, pd.DataFrame([row])], ignore_index=True)


attribute_df.to_csv('./transformedData/attribute.csv', index=False, encoding='utf-8-sig')

In [90]:
attribute_value = pd.DataFrame(columns=['id', 'attribute_id', 'value'])

att_val_dict = {}

att_val_id_counter = 0

for i, (key, value) in enumerate(sorted_attributes.items()):
    for v in value:
        row = {
            'id': str(att_val_id_counter).zfill(6),
            'attribute_id': str(i).zfill(6),
            'value': v
        }
        att_val_dict[v] = str(att_val_id_counter).zfill(6)

        attribute_value = pd.concat([attribute_value, pd.DataFrame([row])], ignore_index=True)

        att_val_id_counter += 1

attribute_value.to_csv('./transformedData/attribute_value.csv', index=False, encoding='utf-8-sig')

In [91]:
import re

def normalize_viet_name(name):
    vietnamese_chars = {
        'à': 'a', 'á': 'a', 'ả': 'a', 'ã': 'a', 'ạ': 'a',
        'ă': 'a', 'ằ': 'a', 'ắ': 'a', 'ẳ': 'a', 'ẵ': 'a', 'ặ': 'a',
        'â': 'a', 'ầ': 'a', 'ấ': 'a', 'ẩ': 'a', 'ẫ': 'a', 'ậ': 'a',
        'đ': 'd',
        'è': 'e', 'é': 'e', 'ẻ': 'e', 'ẽ': 'e', 'ẹ': 'e',
        'ê': 'e', 'ề': 'e', 'ế': 'e', 'ể': 'e', 'ễ': 'e', 'ệ': 'e',
        'ì': 'i', 'í': 'i', 'ỉ': 'i', 'ĩ': 'i', 'ị': 'i',
        'ò': 'o', 'ó': 'o', 'ỏ': 'o', 'õ': 'o', 'ọ': 'o',
        'ô': 'o', 'ồ': 'o', 'ố': 'o', 'ổ': 'o', 'ỗ': 'o', 'ộ': 'o',
        'ơ': 'o', 'ờ': 'o', 'ớ': 'o', 'ở': 'o', 'ỡ': 'o', 'ợ': 'o',
        'ù': 'u', 'ú': 'u', 'ủ': 'u', 'ũ': 'u', 'ụ': 'u',
        'ư': 'u', 'ừ': 'u', 'ứ': 'u', 'ử': 'u', 'ữ': 'u', 'ự': 'u',
        'ỳ': 'y', 'ý': 'y', 'ỷ': 'y', 'ỹ': 'y', 'ỵ': 'y'
    }

    name = name.lower()
    for vn_char, latin_char in vietnamese_chars.items():
        name = name.replace(vn_char, latin_char)

    name = re.sub(r'[^a-z ]','', name)

    return name

def create_sku(brand, category, variant_id):
    brand = normalize_viet_name(brand)
    category = normalize_viet_name(category)

    return f'{brand[:2].upper()}-{''.join(map(lambda x: x[0].upper(), category.split()))}-{variant_id}'

In [92]:
def create_cost_price(price):
    mean = 0.8
    std_dev = 0.05

    original_price = price * random.gauss(mean, std_dev)
    original_price = max(original_price, price * 0.5)

    return round(original_price)

In [93]:
option_to_variant = {}
old_product_id_to_new_product_id = {}

In [94]:
product_rows = []
product_variant_rows = []
attribute_variant_rows = []

variant_id_counter = 0

for i, row in products.iterrows():
    versions = str(row['Phiên bản'])

    options = extract_options(versions)

    product_id = str(i).zfill(6)

    product_row = {
        'id': product_id,
        'category_id': cat_dict[row['Danh mục']],
        'name': row['Tên sản phẩm'],
        'description': row['Mô tả'],
        'specification': row['Thông số kỹ thuật'],
        'image_url': row['Hình ảnh'],
        'brand': row['Thương hiệu']
    }

    product_rows.append(product_row)

    for option in options:
        
        stock_quantity = random.randint(0, 120)

        variant_id = str(variant_id_counter).zfill(6)
        
        price = option['price']

        original_price = create_cost_price(option['price'])

        profit = option['price'] - original_price

        sku = create_sku(row['Thương hiệu'], row['Danh mục'], variant_id)

        sold_quantity = random.randint(0, 100)

        product_variant_row = {
                'id': variant_id,
                'product_id': product_id,
                'price': price,
                'original_price': original_price,
                'profit': profit,
                'sku': sku,
                'stock_quantity': stock_quantity,
                'sold_quantity': sold_quantity
        }

        product_variant_rows.append(product_variant_row)

        for (attr, val) in zip(option['attrs'], option['values']):

            attribute_variant_row = {
                'attribute_value_id': att_val_dict[val],
                'attribute_id': att_dict[attr],
                'product_variant_id': variant_id
            }

            attribute_variant_rows.append(attribute_variant_row)

        key = (
            str(row['Id']),
            tuple(sorted(zip(option['attrs'], option['values'])))
        )

        option_to_variant[key] = variant_id_counter
        old_product_id_to_new_product_id[str(row['Id'])] = product_id

        variant_id_counter += 1

product_df = pd.DataFrame(product_rows)
product_variant = pd.DataFrame(product_variant_rows)
attribute_variant = pd.DataFrame(attribute_variant_rows)

In [95]:
product_df.to_csv('./transformedData/product.csv', index=False, encoding='utf-8-sig')
product_variant.to_csv('./transformedData/product_variant.csv', index=False, encoding='utf-8-sig')
attribute_variant.to_csv('./transformedData/attribute_variant.csv', index=False, encoding='utf-8-sig')

### Xử lý feedback

In [96]:
def something(df: pd.DataFrame):
    print('Number of Na')
    print(df.isnull().sum())
    print('Previous number of rows')
    print(len(df))
    print('Number of duplicates')
    print(df.duplicated().sum())
    if df.duplicated().sum() > 0:
        df.drop_duplicates(inplace=True) 
        print('After removing duplicates')
        print(len(df))

In [97]:
camera_fb = pd.read_csv('./feedback/camera_fb.csv', encoding='utf-8')
something(camera_fb)

Number of Na
feedback_id      0
product_id       0
customer_id      0
rating           0
content        102
time             0
variant        257
image_url      218
dtype: int64
Previous number of rows
414
Number of duplicates
45
After removing duplicates
369

In [98]:
dienthoai_fb = pd.read_csv('./feedback/dienthoai_fb.csv', encoding='utf-8')
something(dienthoai_fb)

Number of Na
feedback_id      0
product_id       0
customer_id      0
rating           0
content        290
time             8
variant         49
image_url      420
dtype: int64
Previous number of rows
597
Number of duplicates
182
After removing duplicates
415

In [99]:
dienthoaiban_fb = pd.read_csv('./feedback/dienthoaiban_fb.csv', encoding='utf-8')
something(dienthoaiban_fb)

Number of Na
feedback_id     0
product_id      0
customer_id     0
rating          0
content         3
time            0
variant         0
image_url      15
dtype: int64
Previous number of rows
23
Number of duplicates
0

In [100]:
dienthoaiphothong_fb = pd.read_csv('./feedback/dienthoaiphothong_fb.csv', encoding='utf-8')
something(dienthoaiphothong_fb)

Number of Na
feedback_id     0
product_id      0
customer_id     0
rating          0
content         8
time            0
variant         0
image_url      10
dtype: int64
Previous number of rows
14
Number of duplicates
0

In [101]:
dieuhoa_fb = pd.read_csv('./feedback/dieuhoa_fb.csv', encoding='utf-8')
something(dieuhoa_fb)

Number of Na
feedback_id      0
product_id       0
customer_id      0
rating           0
content         73
time             9
variant        204
image_url      137
dtype: int64
Previous number of rows
204
Number of duplicates
0

In [102]:
laptop_fb = pd.read_csv('./feedback/laptop_fb.csv', encoding='utf-8')
something(laptop_fb)

Number of Na
feedback_id     0
product_id      0
customer_id     0
rating          0
content        11
time            0
variant        21
image_url      16
dtype: int64
Previous number of rows
52
Number of duplicates
0

In [103]:
mayanh_fb = pd.read_csv('./feedback/mayanh_fb.csv', encoding='utf-8')
something(mayanh_fb)

Number of Na
feedback_id    0
product_id     0
customer_id    0
rating         0
content        1
time           0
variant        2
image_url      2
dtype: int64
Previous number of rows
2
Number of duplicates
0

In [104]:
maydocsach_fb = pd.read_csv('./feedback/maydocsach_fb.csv', encoding='utf-8')
something(maydocsach_fb)

Number of Na
feedback_id     0
product_id      0
customer_id     0
rating          0
content        35
time            1
variant        64
image_url      46
dtype: int64
Previous number of rows
112
Number of duplicates
15
After removing duplicates
97

In [105]:
maygiat_fb = pd.read_csv('./feedback/maygiat_fb.csv', encoding='utf-8')
something(maygiat_fb)

Number of Na
feedback_id      0
product_id       0
customer_id      0
rating           0
content         32
time             3
variant        107
image_url       62
dtype: int64
Previous number of rows
107
Number of duplicates
0

In [106]:
maytinhbang_fb = pd.read_csv('./feedback/maytinhbang_fb.csv', encoding='utf-8')
something(maytinhbang_fb)

Number of Na
feedback_id     0
product_id      0
customer_id     0
rating          0
content         0
time            0
variant         0
image_url      29
dtype: int64
Previous number of rows
90
Number of duplicates
30
After removing duplicates
60

In [107]:
tivi_fb = pd.read_csv('./feedback/tivi_fb.csv', encoding='utf-8')
something(tivi_fb)

Number of Na
feedback_id      0
product_id       0
customer_id      0
rating           0
content         72
time             8
variant        283
image_url      158
dtype: int64
Previous number of rows
283
Number of duplicates
0

In [108]:
tulanh_fb = pd.read_csv('./feedback/tulanh_fb.csv', encoding='utf-8')
something(tulanh_fb)

Number of Na
feedback_id      0
product_id       0
customer_id      0
rating           0
content         84
time             3
variant        306
image_url      168
dtype: int64
Previous number of rows
308
Number of duplicates
0

In [109]:
','.join(dienthoai_fb.columns)

'feedback_id,product_id,customer_id,rating,content,time,variant,image_url'

In [113]:
maytinhdeban_fb = pd.read_csv('./feedback/maytinhdeban_fb.csv', encoding='utf-8')
something(maytinhdeban_fb)

Number of Na
feedback_id    0
product_id     0
customer_id    0
rating         0
content        0
time           0
variant        0
image_url      0
dtype: int64
Previous number of rows
0
Number of duplicates
0

In [114]:
feedbacks = pd.concat(
    [camera_fb, 
     dienthoai_fb, 
     dienthoaiban_fb, 
     dienthoaiphothong_fb, 
     dieuhoa_fb, 
     laptop_fb, 
     mayanh_fb, 
     maydocsach_fb, 
     maygiat_fb, 
     maytinhbang_fb, 
     tivi_fb, 
     tulanh_fb, 
     maytinhdeban_fb], ignore_index=True
)

In [137]:
def extract_version_to_variant_id(product_id, version):
    if pd.isna(version) or version == '' or version == 'nan':
        return None
    
    attributes = version.split('$$')
    attrs = []
    values = []
    for attribute in attributes:
        attr = attribute.split(':')[0].strip().lower()
        value = attribute.split(':')[-1].strip()

        value = toPascalCase(value)

        attr = rename_attribute(attr, value)

        attrs.append(attr)
        values.append(value)

    key = (
        product_id,
        tuple(sorted(zip(attrs, values)))
    )
    if key not in option_to_variant:
        return None

    return option_to_variant[key]

In [138]:
customer_df = pd.read_csv('../users/data/customer.csv', encoding='utf-8')
customer_ids = customer_df['id'].unique()

In [139]:
account_df = pd.read_csv('../users/data/account.csv', encoding='utf-8')
account_df = pd.merge(account_df, customer_df, left_on='id', right_on='account_id', how='left')

In [140]:
account_created_times = account_df['created_at'].unique()

In [141]:
feedbacks

,feedback_id,product_id,customer_id,rating,content,time,variant,image_url
0,5278285,47868431,17145651,5,Đã mua gói hàng rất cẩn thận cảm thấy hài lòng...,2020-10-19 13:34:13,NaN,https://salt.tikicdn.com/ts/review/83/90/16/ac...
1,5397823,47868431,12180385,5,"Sản phẩm dễ cài đặt, nhiều tính năng, độ phân ...",2020-10-29 15:35:34,NaN,https://salt.tikicdn.com/ts/review/9d/f9/73/53...
2,5437697,47868431,11096412,5,"hình rõ, app trên Android lẫn iOS chưa ổn định...",2020-11-02 11:23:52,NaN,https://salt.tikicdn.com/ts/review/18/88/78/84...
3,20089032,47868431,9883981,5,NaN,2025-02-28 21:09:02,NaN,NaN
4,5950422,47868431,709976,5,"giá rẻ, chất lượng tốtgiá rẻ, chất lượng tốtgi...",2020-12-04 23:53:11,NaN,NaN
...,...,...,...,...,...,...,...,...
1929,1833090,1265845,1279572,5,"sản phẩm tốt mới, dễ sử dụng tiki hỗ trợ ship ...",2018-10-03 20:20:59,Màu: Đen,https://salt.tikicdn.com/ts/review/f4/9d/0b/df...
1930,1262798,1265845,6496671,3,"Cửa tủ ko nằm trên 1 mặt thẳng, bị lệch nếu để...",2018-03-07 00:03:31,NaN,https://salt.tikicdn.com/ts/review/20/7a/2c/f5...
1931,14876120,55964013,1720141,5,Giao nhanh,2022-02-10 10:29:41,NaN,NaN
1932,15075700,55964013,1471768,5,Ok,2022-02-22 00:24:45,NaN,NaN
1933,15177899,55964013,22571119,5,NaN,2022-02-27 21:44:26,NaN,NaN

feedback(id, customer_id, product_id, product_variant_id, rating, comment, created_at, image_url)

In [259]:
from datetime import datetime, timedelta

def convert_old_product_id_to_new_product_id(old_product_id):
    if old_product_id in old_product_id_to_new_product_id:
        return old_product_id_to_new_product_id[old_product_id]
    else:
        return None
    
def random_skipped_date(str_created_at):
    try:
        created_at = datetime.strptime(str_created_at, '%Y-%m-%d %H:%M:%S')
    except ValueError:
        created_at = datetime.strptime(str_created_at, '%Y-%m-%d')
    current = datetime.now()
    random_time = created_at + timedelta(days=random.randint(0, (current - created_at).days))
    return random_time.strftime('%Y-%m-%d %H:%M:%S')

In [260]:
option_to_variant_set = set(option_to_variant.keys())

In [261]:
old_feedback_id_to_new_feedback = {}

In [262]:
def convert_old_feedback_id_to_new_feedback(old_feedback_id):
    if old_feedback_id in old_feedback_id_to_new_feedback:
        return old_feedback_id_to_new_feedback[old_feedback_id]
    else:
        return None

In [263]:
feedback_rows = []

for index, row in feedbacks.iterrows():
    id = index
    customer_id = random.choice(customer_ids)
    product_id = convert_old_product_id_to_new_product_id(str(row['product_id']))
    product_variant_id = extract_version_to_variant_id(str(row['product_id']), row['variant'])
    rating = row['rating']
    comment = row['content']
    
    created_at = random_skipped_date(random.choice(account_created_times))

    feedback_row = {
        'id': id,
        'customer_id': customer_id,
        'product_id': product_id,
        'product_variant_id': product_variant_id,
        'rating': rating,
        'comment': comment,
        'created_at': created_at
    }

    feedback_rows.append(feedback_row)

    old_feedback_id_to_new_feedback[str(row['feedback_id'])] = feedback_row

feedback_df = pd.DataFrame(feedback_rows)

In [264]:
feedback_df.dropna(subset=['product_id', 'created_at'], inplace=True)

In [265]:
feedback_df['product_variant_id'].unique()

array([      nan, 2.474e+03, 2.475e+03, 2.561e+03, 2.663e+03, 2.664e+03,
       2.673e+03, 2.709e+03, 2.765e+03, 2.910e+03, 2.940e+03, 3.046e+03,
       3.128e+03, 3.129e+03, 3.133e+03, 3.319e+03, 0.000e+00, 1.000e+00,
       5.000e+00, 3.000e+00, 6.000e+00, 7.000e+00, 8.000e+00, 9.000e+00,
       1.000e+01, 1.100e+01, 1.200e+01, 1.600e+01, 3.800e+01, 3.600e+01,
       3.700e+01, 3.900e+01, 4.900e+01, 5.200e+01, 5.100e+01, 5.300e+01,
       5.500e+01, 5.400e+01, 6.200e+01, 6.100e+01, 6.500e+01, 6.400e+01,
       6.600e+01, 6.300e+01, 6.900e+01, 6.700e+01, 6.800e+01, 7.000e+01,
       7.200e+01, 7.100e+01, 7.400e+01, 7.300e+01, 7.600e+01, 7.900e+01,
       7.800e+01, 8.000e+01, 8.100e+01, 8.800e+01, 8.900e+01, 9.100e+01,
       9.000e+01, 9.500e+01, 9.600e+01, 9.700e+01, 9.800e+01, 9.900e+01,
       1.000e+02, 1.040e+02, 1.050e+02, 1.900e+02, 1.890e+02, 1.880e+02,
       2.620e+02, 2.710e+02, 3.940e+02, 4.060e+02, 4.090e+02, 4.170e+02,
       4.710e+02, 4.700e+02, 4.720e+02, 4.740e+02, 4.730e+02, 4.750e+02,
       4.920e+02, 4.930e+02, 4.910e+02, 8.720e+02, 9.070e+02, 9.120e+02,
       1.265e+03, 1.264e+03, 1.293e+03, 1.311e+03, 1.696e+03, 1.697e+03,
       1.698e+03, 1.699e+03, 1.700e+03, 1.701e+03, 1.753e+03, 1.755e+03,
       1.756e+03, 2.351e+03])

In [266]:
feedback_df.isna().sum()

id                       0
customer_id              0
product_id               0
product_variant_id    1472
rating                   0
comment                603
created_at               0
dtype: int64

In [267]:
feedback_df.to_csv('./transformedData/feedback.csv', index=False, encoding='utf-8-sig')

In [268]:
feedback_df.head()

,id,customer_id,product_id,product_variant_id,rating,comment,created_at
0,0,550235,002081,NaN,5,Đã mua gói hàng rất cẩn thận cảm thấy hài lòng...,2024-06-20 00:00:00
1,1,225595,002081,NaN,5,"Sản phẩm dễ cài đặt, nhiều tính năng, độ phân ...",2023-09-24 00:00:00
2,2,347169,002081,NaN,5,"hình rõ, app trên Android lẫn iOS chưa ổn định...",2024-09-25 00:00:00
3,3,84960,002081,NaN,5,NaN,2024-09-16 00:00:00
4,4,654146,002081,NaN,5,"giá rẻ, chất lượng tốtgiá rẻ, chất lượng tốtgi...",2025-03-28 00:00:00

### Handle feedback_response

feedback_response(id, manager_id, feedback_id, content, created_at)

In [269]:
camera_fb_ma = pd.read_csv('./feedback_manager/camera_fb_ma.csv', encoding='utf-8')
something(camera_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
89
Number of duplicates
2
After removing duplicates
87

In [270]:
dienthoai_fb_ma = pd.read_csv('./feedback_manager/dienthoai_fb_ma.csv', encoding='utf-8')
something(dienthoai_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            3
dtype: int64
Previous number of rows
434
Number of duplicates
120
After removing duplicates
314

In [271]:
dienthoaiban_fb_ma = pd.read_csv('./feedback_manager/dienthoaiban_fb_ma.csv', encoding='utf-8')
something(dienthoaiban_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
1
Number of duplicates
0

In [272]:
dienthoaiphothong_fb_ma = pd.read_csv('./feedback_manager/dienthoaiphothong_fb_ma.csv', encoding='utf-8')
something(dienthoaiphothong_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
14
Number of duplicates
0

In [273]:
dieuhoa_fb_ma = pd.read_csv('./feedback_manager/dieuhoa_fb_ma.csv', encoding='utf-8')
something(dieuhoa_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
0
Number of duplicates
0

In [274]:
laptop_fb_ma = pd.read_csv('./feedback_manager/laptop_fb_ma.csv', encoding='utf-8')
something(laptop_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
6
Number of duplicates
0

In [275]:
mayanh_fb_ma = pd.read_csv('./feedback_manager/mayanh_fb_ma.csv', encoding='utf-8')
something(mayanh_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
1
Number of duplicates
0

In [276]:
maydocsach_fb_ma = pd.read_csv('./feedback_manager/maydocsach_fb_ma.csv', encoding='utf-8')
something(maydocsach_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
53
Number of duplicates
0

In [277]:
maygiat_fb_ma = pd.read_csv('./feedback_manager/maygiat_fb_ma.csv', encoding='utf-8')
something(maygiat_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
5
Number of duplicates
0

In [278]:
maytinhbang_fb_ma = pd.read_csv('./feedback_manager/maytinhbang_fb_ma.csv', encoding='utf-8')
something(maytinhbang_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
64
Number of duplicates
26
After removing duplicates
38

In [279]:
maytinhdeban_fb_ma = pd.read_csv('./feedback_manager/maytinhdeban_fb_ma.csv', encoding='utf-8')
something(maytinhdeban_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
0
Number of duplicates
0

In [280]:
tivi_fb_ma = pd.read_csv('./feedback_manager/tivi_fb_ma.csv', encoding='utf-8')
something(tivi_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            1
dtype: int64
Previous number of rows
27
Number of duplicates
0

In [281]:
tulanh_fb_ma = pd.read_csv('./feedback_manager/tulanh_fb_ma.csv', encoding='utf-8')
something(tulanh_fb_ma)

Number of Na
id              0
feedback_id     0
manager_id      0
manager_name    0
content         0
time            0
dtype: int64
Previous number of rows
3
Number of duplicates
0

In [282]:
feedback_ma = pd.concat(
    [camera_fb_ma, 
     dienthoai_fb_ma, 
     dienthoaiban_fb_ma, 
     dienthoaiphothong_fb_ma, 
     dieuhoa_fb_ma, 
     laptop_fb_ma, 
     mayanh_fb_ma, 
     maydocsach_fb_ma, 
     maygiat_fb_ma, 
     maytinhbang_fb_ma, 
     tivi_fb_ma, 
     tulanh_fb_ma,
     maytinhdeban_fb_ma], ignore_index=True
)

In [283]:
len(feedback_ma)

549

feedback_response(id, manager_id, feedback_id, content, created_at)

In [284]:
manager_df = pd.read_csv('../users/data/manager.csv', encoding='utf-8')
role_df = pd.read_csv('../users/data/role.csv', encoding='utf-8')
manager_df = pd.merge(manager_df, role_df, left_on='role_id', right_on='id', how='left')

In [285]:
service_customer_ids = manager_df['id_x'].unique()

In [290]:
feedback_ma['content'] = feedback_ma['content'].str.replace('tiki', 'PTIT-EShop', case=False)

In [291]:
feedback_response_rows = []

for index, row in feedback_ma.iterrows():
    id = index
    manager_id = random.choice(service_customer_ids)
    customer_feedback = convert_old_feedback_id_to_new_feedback(str(row['feedback_id']))
    feedback_id = customer_feedback['id']
    content = row['content']
    created_at =  random_skipped_date(customer_feedback['created_at'])

    feedback_response_row = {
        'id': id,
        'manager_id': manager_id,
        'feedback_id': feedback_id,
        'content': content,
        'created_at': created_at
    }
    feedback_response_rows.append(feedback_response_row)

feedback_response_df = pd.DataFrame(feedback_response_rows)

In [292]:
feedback_response_df

,id,manager_id,feedback_id,content,created_at
0,0,28,3,Cảm ơn bạn đã tin tưởng PTIT-EShop và cho PTIT...,2024-11-01 00:00:00
1,1,187,30,PTIT-EShop rất vui khi nhận được đánh giá 5⭐️t...,2025-02-03 00:00:00
2,2,174,31,Cảm ơn bạn đã để lại nhận xét tại PTIT-EShop. ...,2024-12-13 00:00:00
3,3,144,32,Cảm ơn bạn đã để lại nhận xét tại PTIT-EShop. ...,2025-04-02 00:00:00
4,4,30,33,Cảm ơn bạn đã để lại nhận xét tại PTIT-EShop. ...,2024-05-07 00:00:00
...,...,...,...,...,...
544,544,184,1569,"Chào bạn, PTIT-EShop rất xin lỗi bạn vì đơn hà...",2024-11-20 00:00:00
545,545,181,1572,Cảm ơn anh đã tin tưởng PTIT-EShop trong suốt ...,2025-04-15 00:00:00
546,546,114,1762,"Chào bạn, PTIT-EShop đã nhận được thông tin đá...",2025-02-13 00:00:00
547,547,102,1774,"Mến chào anh, PTIT-EShop đã nhận được thông ti...",2025-04-12 00:00:00
548,548,140,1833,"Chào bạn, PTIT-EShop đã nhận được thông tin nh...",2025-02-22 00:00:00

In [297]:
feedback_response_df.to_csv('./transformedData/feedback_response.csv', index=False, encoding='utf-8-sig')

### Discount

discount(id, product_variant_id, code, name, type, value, status, start_date, end_date)

In [ ]:
def discount_value(type: str, cost_price: float, price: float, min_discount=0.05, max_discount=0.3, min_profit=0.05):
    valid_discounts = []
    
    for i in range(int(min_discount * 100), int(max_discount * 100) + 1):
        discount_rate = i / 100
        discounted_price = price * (1 - discount_rate)

        if discounted_price > cost_price * (1 + min_profit):
            valid_discounts.append({
                'rate': discount_rate,
                'price': discounted_price,
            })
    
    if valid_discounts:
        return random.choice(valid_discounts)
    else:
        return

In [ ]:
types = ['Percentage', 'FixedAmount']
status = ['Active', 'Inactive', 'Expired']

discount_row = []

random_product_variant_ids = product_variant['id'].sample(n=1000).tolist()

for index, product_variant_id in enumerate(random_product_variant_ids):
    
    random_string = ''.join(random.choices('ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789', k=random.randint(12)))

    row = {
        'id': index,
        'product_variant_id': product_variant_id,
        'code':  random_string,
        'type': random.choice(types),
    }

['000651',
 '003088',
 '002191',
 '002052',
 '002394',
 '003475',
 '000769',
 '001231',
 '002183',
 '003072',
 '002272',
 '002625',
 '000984',
 '001087',
 '001812',
 '000256',
 '000804',
 '003228',
 '003654',
 '002831',
 '000749',
 '002410',
 '000244',
 '001563',
 '003086',
 '001067',
 '000364',
 '003320',
 '000803',
 '001036',
 '000537',
 '000966',
 '000893',
 '001407',
 '001506',
 '001081',
 '002685',
 '003263',
 '001567',
 '001890',
 '001589',
 '002265',
 '000906',
 '001684',
 '002411',
 '002505',
 '002444',
 '000563',
 '002264',
 '002965',
 '001214',
 '001991',
 '002182',
 '001420',
 '000204',
 '002968',
 '003645',
 '002859',
 '002833',
 '002522',
 '000265',
 '002563',
 '003646',
 '002758',
 '000237',
 '000106',
 '001740',
 '000925',
 '001001',
 '001522',
 '001209',
 '003493',
 '002459',
 '002668',
 '001967',
 '003449',
 '002143',
 '003404',
 '000368',
 '000474',
 '000742',
 '000752',
 '003110',
 '000745',
 '001337',
 '002311',
 '000933',
 '001468',
 '003421',
 '002480',
 '001498',
 '000668',
 '000648',
 '003196',
 '000997',
 '001814',
 '002425',
 '001288',
 '002046',
 '003090',
 '002438',
 '001528',
 '000379',
 '000757',
 '003465',
 '000453',
 '001408',
 '001636',
 '000546',
 '002195',
 '002483',
 '001970',
 '000419',
 '002418',
 '002785',
 '002626',
 '001356',
 '000623',
 '002324',
 '000708',
 '003472',
 '002256',
 '002797',
 '000952',
 '003479',
 '003680',
 '001235',
 '003080',
 '003243',
 '003128',
 '001319',
 '002888',
 '003076',
 '001265',
 '002583',
 '000619',
 '000201',
 '001365',
 '000469',
 '002620',
 '000358',
 '000352',
 '003362',
 '001166',
 '001078',
 '002501',
 '002690',
 '002837',
 '000917',
 '001110',
 '003146',
 '001543',
 '000309',
 '001742',
 '003612',
 '001425',
 '002885',
 '000205',
 '003399',
 '002076',
 '001492',
 '003137',
 '003485',
 '000400',
 '003522',
 '000203',
 '000530',
 '003513',
 '003582',
 '000653',
 '003441',
 '000331',
 '001608',
 '003351',
 '003576',
 '002880',
 '000559',
 '002632',
 '003650',
 '000277',
 '001710',
 '001121',
 '000927',
 '003665',
 '001669',
 '001122',
 '002973',
 '000664',
 '000864',
 '003575',
 '003025',
 '001675',
 '002019',
 '000628',
 '002427',
 '001952',
 '003217',
 '000218',
 '001719',
 '001259',
 '002249',
 '003151',
 '003246',
 '002072',
 '003492',
 '000073',
 '002815',
 '003067',
 '002363',
 '000077',
 '003274',
 '000735',
 '000844',
 '000539',
 '001326',
 '001898',
 '001490',
 '003477',
 '003103',
 '000555',
 '003416',
 '003641',
 '000312',
 '001600',
 '003411',
 '003462',
 '003606',
 '003518',
 '001421',
 '002065',
 '000693',
 '000349',
 '002803',
 '002026',
 '001008',
 '003529',
 '000404',
 '003248',
 '000248',
 '000288',
 '001033',
 '001211',
 '003677',
 '002809',
 '002302',
 '003614',
 '002322',
 '002630',
 '001906',
 '002777',
 '003285',
 '001834',
 '001482',
 '003249',
 '001957',
 '000809',
 '002468',
 '003390',
 '002451',
 '000829',
 '003549',
 '000222',
 '002088',
 '000507',
 '000482',
 '001593',
 '000224',
 '002998',
 '001320',
 '002003',
 '003260',
 '000491',
 '003368',
 '002057',
 '000759',
 '003261',
 '001228',
 '002581',
 '002585',
 '001054',
 '001561',
 '002927',
 '000955',
 '003342',
 '001414',
 '000418',
 '001363',
 '000194',
 '000084',
 '002328',
 '000175',
 '000839',
 '000101',
 '003379',
 '001470',
 '002549',
 '001787',
 '003458',
 '000176',
 '000318',
 '003197',
 '000990',
 '000076',
 '000314',
 '000694',
 '002722',
 '003292',
 '003001',
 '002259',
 '001342',
 '001999',
 '003035',
 '000885',
 '002428',
 '003585',
 '003507',
 '000698',
 '000920',
 '003048',
 '003277',
 '000972',
 '002629',
 '003026',
 '000522',
 '003527',
 '001915',
 '003534',
 '000247',
 '001399',
 '003401',
 '002938',
 '000195',
 '002353',
 '000718',
 '002126',
 '003487',
 '003290',
 '001944',
 '001715',
 '002655',
 '000703',
 '000903',
 '000166',
 '003473',
 '001003',
 '000685',
 '000242',
 '000941',
 '001823',
 '003535',
 '001486',
 '000117',
 '000985',
 '001234',
 '000987',
 '003129',
 '003420',
 '001012',
 '003434',
 '000528',
 '001312',
 '001955',
 '000070',
 '002994',
 '001086',
 '002503',
 '003308',
 '002462',
 '001865',
 '002040',
 '001438',
 '002397',
 '003280',
 '000016',
 '002700',
 '002937',
 '002111',
 '000585',
 '000789',
 '001103',
 '002178',
 '000484',
 '000398',
 '002891',
 '000154',
 '003008',
 '000913',
 '001826',
 '001553',
 '000723',
 '003698',
 '001928',
 '002985',
 '002957',
 '001372',
 '001417',
 '002369',
 '001366',
 '001311',
 '001584',
 '002119',
 '001048',
 '002240',
 '000377',
 '002679',
 '002771',
 '003121',
 '000354',
 '001559',
 '002530',
 '002535',
 '003515',
 '001907',
 '001345',
 '001766',
 '002694',
 '002642',
 '001386',
 '002433',
 '001126',
 '000968',
 '000345',
 '001573',
 '003140',
 '000310',
 '001924',
 '001268',
 '000496',
 '001973',
 '002609',
 '002048',
 '002863',
 '003056',
 '002731',
 '000518',
 '001904',
 '000047',
 '001995',
 '000862',
 '002781',
 '002556',
 '002876',
 '001759',
 '001776',
 '003410',
 '001772',
 '000141',
 '001905',
 '003439',
 '001129',
 '003648',
 '002074',
 '000360',
 '003482',
 '000561',
 '000607',
 '002948',
 '000251',
 '003367',
 '002742',
 '002158',
 '000019',
 '003333',
 '001592',
 '001744',
 '002275',
 '001741',
 '002872',
 '000455',
 '003257',
 '000792',
 '001437',
 '002471',
 '000396',
 '002267',
 '002269',
 '002378',
 '001005',
 '002656',
 '001822',
 '002033',
 '000153',
 '001891',
 '000494',
 '000249',
 '002646',
 '002323',
 '001819',
 '002657',
 '000889',
 '003033',
 '001718',
 '001141',
 '001931',
 '001758',
 '002739',
 '001296',
 '001138',
 '000529',
 '002200',
 '000939',
 '002812',
 '001463',
 '002161',
 '001194',
 '001908',
 '002454',
 '001656',
 '000459',
 '002776',
 '001665',
 '003104',
 '000449',
 '003309',
 '003117',
 '001771',
 '003322',
 '003681',
 '002494',
 '001701',
 '001044',
 '001747',
 '003521',
 '003306',
 '002215',
 '002481',
 '003193',
 '003569',
 '002484',
 '000037',
 '002148',
 '003692',
 '003616',
 '003520',
 '001135',
 '001789',
 '000621',
 '001137',
 '003509',
 '000760',
 '002086',
 '003259',
 '001790',
 '001532',
 '002099',
 '002524',
 '001841',
 '001886',
 '003127',
 '000361',
 '003427',
 '000750',
 '001344',
 '002622',
 '000093',
 '002018',
 '000391',
 '000572',
 '002689',
 '001901',
 '001972',
 '000895',
 '000074',
 '000603',
 '000263',
 '000307',
 '002167',
 '002281',
 '002243',
 '000134',
 '000049',
 '001820',
 '001797',
 '001243',
 '001160',
 '000150',
 '003693',
 '001996',
 '003637',
 '001088',
 '003141',
 '001616',
 '001882',
 '000430',
 '000311',
 '001100',
 '000830',
 '003568',
 '000687',
 '002980',
 '001871',
 '002162',
 '003236',
 '000931',
 '002546',
 '001643',
 '001385',
 '002567',
 '001618',
 '000023',
 '003459',
 '000380',
 '001857',
 '001395',
 '001373',
 '002039',
 '002253',
 '002907',
 '000321',
 '003450',
 '003083',
 '001926',
 '000346',
 '001444',
 '000326',
 '002237',
 '001674',
 '000503',
 '000726',
 '003252',
 '001894',
 '001246',
 '000998',
 '002070',
 '000403',
 '001752',
 '000308',
 '003373',
 '003054',
 '002909',
 '002555',
 '000344',
 '003624',
 '002301',
 '002381',
 '000605',
 '000527',
 '003024',
 '002716',
 '002523',
 '002536',
 '001073',
 '002611',
 '003266',
 '002671',
 '003039',
 '001128',
 '001529',
 '002939',
 '000535',
 '000238',
 '001808',
 '000186',
 '003182',
 '000901',
 '002750',
 '001449',
 '002209',
 '001595',
 '002061',
 '002090',
 '000665',
 '003403',
 '003383',
 '003407',
 '000921',
 '000654',
 '002790',
 '002010',
 '000339',
 '003170',
 '001308',
 '003598',
 '001269',
 '003132',
 '000132',
 '001838',
 '002560',
 '003343',
 '001620',
 '002841',
 '001642',
 '001286',
 '000052',
 '002455',
 '003551',
 '002431',
 '003238',
 '002932',
 '003631',
 '003100',
 '003595',
 '000695',
 '000942',
 '000884',
 '000137',
 '003548',
 '003519',
 '002989',
 '001720',
 '000059',
 '002755',
 '001566',
 '000010',
 '002913',
 '000834',
 '002541',
 '000816',
 '003514',
 '000753',
 '002999',
 '000620',
 '000627',
 '002210',
 '001050',
 '001336',
 '001990',
 '000650',
 '000454',
 '002181',
 '002317',
 '001169',
 '003642',
 '001120',
 '002238',
 '002121',
 '001511',
 '002276',
 '002754',
 '000387',
 '002107',
 '001604',
 '002840',
 '000042',
 '002710',
 '001724',
 '002437',
 '001807',
 '003270',
 '001864',
 '000798',
 '002413',
 '001708',
 '001370',
 '000656',
 '001959',
 '001236',
 '000794',
 '000667',
 '002544',
 '001743',
 '003190',
 '001542',
 '002795',
 '003230',
 '003219',
 '000671',
 '002371',
 '000483',
 '001546',
 '003057',
 '003205',
 '000035',
 '002034',
 '003378',
 '000552',
 '000763',
 '000853',
 '000142',
 '003422',
 '000169',
 '000776',
 '002078',
 '001299',
 '002652',
 '000810',
 '002450',
 '001199',
 '000004',
 '000289',
 '002602',
 '003452',
 '001167',
 '002663',
 '002638',
 '002028',
 '002977',
 '002473',
 '000615',
 '000560',
 '001796',
 '000611',
 '001706',
 '002346',
 '001695',
 '003287',
 '000669',
 '002683',
 '001284',
 '003490',
 '000784',
 '000932',
 '000054',
 '000258',
 '000243',
 '002946',
 '002066',
 '000135',
 '002189',
 '000786',
 '002414',
 '000193',
 '000970',
 '000293',
 '001603',
 '000766',
 '000675',
 '002664',
 '003382',
 '003295',
 '001650',
 '002881',
 '002958',
 '000261',
 '001582',
 '003085',
 '003418',
 '000440',
 '000908',
 '002805',
 '002109',
 '000333',
 '001301',
 '001866',
 '001548',
 '002686',
 '002532',
 '003213',
 '001148',
 '003627',
 '002606',
 '000335',
 '002164',
 '002928',
 '002719',
 '003125',
 '002201',
 '002417',
 '002764',
 '000644',
 '000179',
 '001745',
 '000872',
 '003469',
 '000630',
 '001431',
 '002774',
 '002827',
 '000764',
 '001434',
 '002475',
 '000240',
 '002342',
 '003321',
 '000719',
 '003445',
 '003059',
 '001264',
 '002285',
 '001638',
 '000290',
 '003143',
 '000057',
 '003221',
 '001125',
 '000235',
 '003488',
 '000065',
 '003556',
 '001935',
 '001062',
 '000866',
 '002778',
 '003064',
 '000350',
 '002024',
 '001854',
 '002355',
 '000965',
 '000088',
 '003690',
 '001945',
 '002507',
 '002344',
 '000678',
 '000835',
 '002545',
 '002279',
 '000992',
 '002222',
 '002601',
 '000144',
 '000640',
 '000342',
 '002879',
 '001358',
 '001302',
 '002817',
 '001339',
 '003405',
 '000192',
 '002641',
 '000961',
 '000977',
 '001757',
 '001690',
 '001158',
 '002152',
 '001791',
 '002610',
 '003074',
 '000431',
 '003200',
 '003696',
 '002453',
 '000731',
 '001424',
 '001564',
 '000713',
 '002548',
 '003374',
 '002699',
 '001627',
 '001978',
 '000545',
 '001324',
 '002765',
 '001413',
 '002600',
 '001989',
 '002365',
 '002062',
 '002092',
 '001571',
 '000755',
 '001591',
 '003317',
 '002364',
 '000612',
 '000580',
 '003516',
 '002423',
 '000928',
 '001398',
 '003491',
 '002959',
 '003528',
 '003060',
 '001767',
 '003226',
 '002338',
 '002376',
 '002570',
 '002895',
 '000098',
 '000564',
 '002675',
 '001536',
 '003414',
 '001514',
 '000709',
 '002294',
 '003697',
 '001844',
 '000946',
 '002676',
 '002360',
 '003156',
 '002179',
 '000266',
 '000008',
 '003664',
 '002204',
 '002654',
 '002443',
 '000002',
 '001583',
 '002916',
 '000113',
 '002666',
 '001929',
 '000415',
 '000902',
 '000316',
 '001272',
 '000736',
 '001962',
 '000445',
 '001059',
 '000567']